<div class="container mt-5">

<%= simple_form_for new_car_booking_path(@car) do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit%>

<% end %>

</div>
