<div class="footer mt-5">
  <div class="footer-links">
    <a href="https://github.com/nilt0nduarte/carBnb"><i class="fab fa-github"></i></a>
    <%# <a href="#"><i class="fab fa-instagram"></i></a> %>
    <%# <a href="#"><i class="fab fa-facebook"></i></a> %>
    <%# <a href="#"><i class="fab fa-twitter"></i></a> %>
    <%# <a href="#"><i class="fab fa-linkedin"></i></a> %>
  </div>

  <div class="footer-copyright footer-links2">
      Meet the team:
    <a href="https://github.com/nilt0nduarte"><img src="https://avatars.githubusercontent.com/u/114880882?v=4" alt="" class="avatar"></a>
    <a href="https://github.com/felipedott"><img src="https://avatars.githubusercontent.com/u/74515148?v=4" alt="" class="avatar"></a>
    <a href="https://github.com/tadeutovar"><img src="https://avatars.githubusercontent.com/u/113369978?v=4" alt="" class="avatar"></a>
  </div>

</div>
