.botao-simples {
  background-color: #4CAF50;
  font-size: 12px;
  padding: 10px 24px;
  border-radius: 8px;
  box-shadow: 2px 2px 3px black;
  border: 2px solid black;
  transition-duration: 0.4s;
}
